.venv/
env/
.env
.env.local
.env.*.local

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
pip-wheel-metadata/
*.egg-info/

node_modules/
dist/
dist-ssr/
.vite/
**/*.tsbuildinfo
.eslintcache
npm-debug.log*.